@font-face {
    font-family: sFMoNoL-Regular;
    src: url(../fonts/ligaturized/SFMonoLigaturized-Regular.ttf);
}
@font-face {
    font-family: sFMoNoL-Medium;
    src: url(../fonts/ligaturized/SFMonoLigaturized-Medium.ttf);
}
@font-face {
    font-family: sFMoNoL-Bold;
    src: url(../fonts/ligaturized/SFMonoLigaturized-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
}

footer .copyright {
    padding: 5px 0px;
    text-align: center;
    border-top: 1px solid #fff;
    color: #fff;
    margin-top: 10px;
}

footer .copyright p {
    margin: 0;
}

footer.copyright p {
    margin: 0;
}

li {
    transition: .3s;
}

footer .social li:hover {
    background: aqua;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer .social li:hover i {
    color: #FB4032;
    border: 3px solid #cf5252;
}

footer .social i {
    color: #fff;
    font-size: 20px;
    padding: 14px;
    border: 1px solid gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: .5s;
}

.social {
    margin-top: 10px;
}

.location {
    color: #fff;
}

.location__1,.location__2 {
    font-size: 16px;
}

footer h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

footer h4:after {
    content: "";
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #fff;
}

footer {
    background: #0139A6;
    padding: 30px 0px 0px 0px;
}

.content {
    padding: 50px 0px;
}

.tv__slide__block {height: 515px;}

section.tv__slide {
    width: 100%;
    
    position: relative;
}

header {position: relative;}

body{
    font-family: 'sFMoNoL-Regular', sans-serif !important;
}
.header__nav {background-color: #0139A6;position: relative;z-index: 9999;}

.header__nav ul li {width: 100%;text-align: center;padding: 10px 0;}

.header__nav ul li:hover a:not(.dropdown-content a) {color: #e14141;}

.header__nav ul li a {
    color: #fff;
    
    
transition: .3s;}
img{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
}

footer .social ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 !important;
}

ul {}

.header__nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;}
a{
    text-decoration: none !important;
}

footer .copyright p a {
    color: #f12727;
}

footer .contact a {
    color: #fff;
    font-size: 16px;
}
.header__nav ul li:not(.header__nav ul li:last-child){
    border-right: 1px solid #fff;
}
.header__nav ul li.active a{
    color:#e14141;
}
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0139a6;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(0 0 0 / 38%);
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;top: 40px;
}

.header__nav ul li a:not(.dropdown-content a){
    font-weight: 700;
    text-transform: uppercase;
  font-size: 13px;}


.header__search {
    padding: 0;
    border: none;
    transition: .4s ease;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.hidden__search {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: 100%;
    overflow: hidden;
    transition: .4s ease;
    background-color: #28282D;
    z-index: 1;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
    border-top: 1px solid rgba(255,255,255,.05);
opacity: 0;}
.hidden__search__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    position: relative;
}
.hidden__search__content input {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 0 120px 0 15px;
    font-size: 15px;
    color: #000;
    outline: none;
}
.hidden__search__content button {
    position: absolute;
    height: 40px;
    width: 90px;
    
    right: 15px;
    top: auto;border-radius: 4px;
    background-color: #0139a6;
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
    
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .6px;
    border: none;
    outline: none;
}
.header__search__active {
    bottom: -50px;
;opacity: 1;}

.tv__slide__dots li button:before{
    font-size: 10px !important;
    color: #0139a6 !important;
}

.slick-dotstv__slide__dots li button:hover:before, .tv__slide__dots li button:focus:before{
    opacity: 1;
}


.tv__slide__dots li.slick-active button:after{
    content: "";
    opacity: 1 !important;
    border: 1px solid #e3c590;
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
position: absolute;top: 0;
    left: 0;
    width: 20px;
    height: 20px;}

.tv__slide__dots li.slick-active button:before{
    opacity: 1 !important;
    border: 1px solid #e3c590;
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
    transform: rotate(45deg);
}

/* Gioi Thieu */
.gioithieu .content .content__title{
    color: #000;
    font-size: 20px;
}
.gioithieu .content .content__subtitle{
    color: #000;
    font-size: 18px;
}
.gioithieu .content p{
    font-size: 16px;
    text-indent: 50px;
}
.gioithieu .content p.gachdaudong{
    text-indent: 80px;
}
